template(name="login")
  head
    title Login Bigu21
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  body
    div.ui.column.grid
      div.column
        div#login.ui.fluid.labeled.facebook.icon.button.computer.only
          i.icon.facebook
          +user_info

template(name="user_info")
  if currentUser
    +userLoggedIn
  else
    +userLoggedOut

template(name="profile")
  head
    title Profile Bigu21
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  body
    div.two.column.stackable.ui.grid
      div.one.wide.column
        img.circular.ui.image(src="#{currentUser.profile.picture}")
      div.three.wide.column.column
        | #{currentUser.profile.name}

template(name="userLoggedIn")
  if loggingIn
    | Fazendo Login
  else
    | #{currentUser.profile.name}

template(name="userLoggedOut")
   | Logar com Facebook 

